html
    head
        title!= title
    body
        h1!= message

            button#Auth(style='width: 130px; height: 25px; background-color: green;',   type='submit', onclick='(color="black")') Авторизация